html
		{
			background-color: white;
		}
		body
		{
			background-color: orange;
			width: 98%;
			height: 95%;
			border: 5px solid black;
			
		}
		div
		{
			background-color: red;
			width: 50%;		
			border: 5px solid black;
			margin-left: 10%;
		}
		#a
		{
			text-align: center;
			font-size: 35px;
			color: blue;
		}
		aside
		{
			float: right;
			background-color: yellow;
			width: 30%;		
			border: 5px solid black;
			height: 85%;
			margin-right: 2%;
		}